.section_pagination {
  display: flex;
  justify-content: center;
}

.pagination {
  &_container {
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &_box--style {
    background-color: #fcfcfc;
    border-radius: 4px;
    border: none;
    border-right: 2px solid #e4e4e4;
    outline: none;
    font-family: DroidSans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #556270;
  }

  &_page {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_btn {
    &--next,&--prev {
      width: 95px;
      height: 50px;
      cursor: pointer;
      &:hover{
      color:#77c1bb;}
    }
    

    &--opacity {
      opacity: 0.5;
      cursor: default;
    }
   
  }
}

@media (min-width: 768px) {
  .pagination {
    &_container {
      width: 215px;
      margin-bottom: 20px;
    }

    &_box--style {
      font-size: 17.5px;
      line-height: 20px;
    }

    &_page {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_btn {
      &--next,&--prev {
        width: 75px;
        height: 40px;
      }
    
    }
  }
}

@media (min-width: 1024px) {
  .pagination {
    &_container {
      margin-bottom: 15px;
    }
  }
}
