 <section class="section_pagination">
   <div class="pagination_container">
     <button class="pagination_box--style pagination_btn--prev" data-action="btn_prev">Prev</button>
     <span class="pagination_box--style pagination_page" data-info="page_number">1</span>
     <button class="pagination_box--style pagination_btn--next" data-action="btn_next">Next</button>
   </div>
 </section>